
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@900&display=swap');

body {
     padding: 0;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
     display: flex;
     justify-content: center;
     align_items:center; 
     background: linear-gradient( rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.5) ), url('https://img5.goodfon.ru/wallpaper/nbig/8/4d/priroda-les-derevia-25.jpg');
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     
}

.head_text{
     
     justify-content: center;
     align_items:center;
     margin-bottom: 40px;
     position:absolute;
     left:80%;
     top:10%;
     transform:translate(-50%, -50%);
       background:linear-gradient(60deg, teal,teal, Tomato,tomato, teal, teal);
       background-size: 300%;
      font-family: 'Poppins', Helvetica, sans-serif;
       font-weight: 400;
       font-size: 5vw;
       letter-spacing: 5px;
       cursor:pointer;
       text-transform: uppercase;
       -webkit-background-clip:text;
       -webkit-text-fill-color: transparent;
       animation:animated_text 6s ease-in-out infinite;
       -moz-animation:animated_text 6s ease-in-out infinite;
       -webkit-animaiton:animated_text 6s ease-in-out infinite;
}
@keyframes animated_text {
     0%{
          background-position: 0% 50%;
     }
     50%{
          background-position: 100% 50%;
     }
     100% {
          background-position: 0% 50%;
     }
}


/* snake_game_code________ */
#conteiner_snake {
	
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.game-header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game_score {
	padding: 10px 15px;
	min-width: 160px;
	height: 50px;
	background-color: Teal;
     box-shadow: 0px 0px 40px 10px rgba(255, 160, 122, 0.9);
	border-radius: 18px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.point{
	font-size: 3vmin;
	color: Tomato;
	font-weight: bold;
}

.canvas_wrapper {
	background-color: teal;
	border-radius: 10px;
	border: 10px solid Tomato;
	box-shadow: 0px 0px 40px 10px rgba(255, 160, 122, 0.9);

	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}
#game_canvas {
	display: block;
	border-radius: 1px;	
}